<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
  <div class="col-md-12 home-form">
    <%= form_tag(course_search_path, method: "get", class: "form-inline", remote: true) do %>
    <%= select_tag "column", options_from_collection_for_select(Column.all, "id", "id"), prompt: "none", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= select_tag "elevator", options_from_collection_for_select(Elevator.all, "id", "id"), prompt: "none", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>
  </div>
</div>

<div class="row" id="course_listing">
  <%= render partial: "course_list", locals: {courses: @courses} %>
</div>