<%= render "partials/header" %>

			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE 1 -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-delay="7000" data-saveperformance="off"  data-title="The company">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_sky", alt:"cover image", bgposition:"center", bgfit:"cover", bgrepeat:"no-repeat") %>
							
							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="371"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color: #000; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Elevate Safety, Speed and Style
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="420"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#000; font-weight:400; text-shadow:none;">
									Working around the world on many inspiring projects, we help builders dreams come true.
							</div>

							<div class="tp-caption tp-fade"
								data-x="left"
								data-y="25" 
								data-speed="300"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 4;">
							</div>
							
							<!-- 1 button -->
							<div class="tp-caption sfb tp-resizeme"
								data-x="600"
								data-y="325" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<%= link_to "OUR SERVICES", "#{root_path}#services", :class => ["btn btn-blue btn-lg", "fa fa-angle-right"], 'data-turbolinks': false %>
									
							</div>
							<!-- 2 button -->
							<div class="tp-caption sfb tp-resizeme"
								data-x="900"
								data-y="325" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<%= link_to "GET A QUOTE", new_quote_path, :class => ["btn btn-blue btn-lg", "fa fa-angle-right"], 'data-turbolinks': false %>	
							</div>

						</li>

						<!-- SLIDE 2 -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-delay="7000" data-saveperformance="off" data-title="Residential">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_residentialslide", alt:"cover image", bgposition:"center", bgfit:"cover", bgrepeat:"no-repeat") %>

							<div class="overlay dark-0"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="00"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#000; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Elegant Solutions for Residential Buildings 
									
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="500"
								data-y="375" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<%= link_to "RESIDENTIAL", residential_path, :class => ["btn btn-blue btn-lg", "fa fa-angle-right"], 'data-turbolinks': false %>
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="385"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#000; font-weight:400; text-shadow:none;">
									Residential solutions &nbsp; for your buildings.
									
							</div>

							
						</li>

						<!-- SLIDE 3 -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-delay="7000" data-saveperformance="off" data-title="Commercial">
							<!-- MAIN IMAGE -->
							<%= image_tag("AdobeStock_office", alt:"cover image", bgposition:"center top", bgfit:"cover", bgrepeat:"no-repeat") %>

							<div class="overlay dark-0"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="0"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#000; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Commercial Solutions that Meet your Needs
					
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="0"
								data-y="275" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:30px; color:#FFF; font-weight:400; text-shadow:none;">
									You are shining with your commercial
									projects: let us help you!
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<%= link_to "COMMERCIAL", commercial_path, :class => ["btn btn-blue btn-lg", "fa fa-angle-right"], 'data-turbolinks': false %>
							</div>

						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<%= link_to "Looking for more infos <br>   
					<strong>Contact us</strong>".html_safe, "#{root_path}#contact", :class => ["btn btn-xlg btn-danger fs-20 fullwidth m-0 rad-0 p-40", "font-lato fs-30"], 'data-turbolinks': false %>
			<!-- /BUTTON CALLOUT -->


			
			<!-- SERVICES -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<%= image_tag("awardresized", class:"img-fluid", alt:"img") %>
							<h3 class="mt-10">Projects and awards</h3>
							<p>We are working around the world on all types of projects. You have great ideas and we have great solutions to help you achieve it !</p>
							<%= link_to "MORE INFO", "#{root_path}#portfolio", :class => "btn btn-default", 'data-turbolinks': false %>
						</div>

						<div class="col-sm-4">
							<%= image_tag("AdobeStock_residential2", class:"img-fluid", alt:"img") %>
							<h3 class="mt-10">Residential division</h3>
							<p>You are building or renovating your residential building ? Take advantage of our experience in the residential field.</p>
							<%= link_to "MORE INFO", residential_path, :class => "btn btn-default", 'data-turbolinks': false %>
						</div>

						<div class="col-sm-4">
							<%= image_tag("AdobeStock_office2", class:"img-fluid", alt:"img") %>
							<h3 class="mt-10">Commercial division</h3>
							<p>Our commercial division will suit all your needs: from your blueprint project to the maintenance of existing systems.</p>
							<%= link_to "MORE INFO", commercial_path, :class => "btn btn-default", 'data-turbolinks': false %>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->

			


			<!-- Parallax En affaires ! -->
			<section class="parallax parallax-1" style="background-image:" <%= image_tag("AdobeStock_3slides") %>>
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Elevating your projects since 1976</h2>
							<%= link_to "GET A QUOTE", new_quote_path, :class => ["btn btn-blue btn-lg", "fa fa-angle-right"], 'data-turbolinks': false %>
						&nbsp; OR &nbsp; 
							<%= link_to "CONTACT US", "#{root_path}#contact", :class => ["btn btn-blue btn-lg", "fa fa-angle-right"], 'data-turbolinks': false %>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section id="portfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Portfolio</h2>
					</div>
					
					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
											<li data-filter="all" class="filter"><a href="#">All</a></li>
											<li data-filter="commercial" class="filter"><a href="#">Commercial</a></li>
											<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
											<li data-filter="projects" class="filter"><a href="#">Projects</a></li>
											<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix commercial awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "remakable" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												

											</span>
										</span>

										<%= image_tag("remakable", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Ascent glass elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Awards</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "Island" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
											
											</span>
										</span>

										<%= image_tag("Island", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Riosol Island Hotel</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "residential1" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												
											</span>
										</span>

										<%= image_tag("residential1", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Chicago Townhouse</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "skypodobser" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												
											</span>
										</span>

										<%= image_tag("skypodobser", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Skypod observatory </h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "Counterweightless" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												
											</span>
										</span>

										<%= image_tag("Counterweightless", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Counterweightless</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Awards</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "Mall" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												

											</span>
										</span>

										<%= image_tag("Mall", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Mall</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "residential3" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												
											</span>
										</span>

										<%= image_tag("residential3", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Asheville forest retreat</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "Orangecounty" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												
											</span>
										</span>

										<%= image_tag("Orangecounty", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Orange County</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "Residential2" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												
											</span>
										</span>

										<%= image_tag("Residential2", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Futuristic building</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Awards</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "Outdoor China" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
											
											</span>
										</span>

										<%= image_tag("Outdoor China", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Outdoor China</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "Residential4" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												
											</span>
										</span>

										<%= image_tag("Residential4", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>Naples house, Florida</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="<%= asset_path "residential6" %>" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details -->
												
											</span>
										</span>

										<%= image_tag("residential6", class:"img-fluid", width:"600", height:"399", alt:"") %>
									</figure>

									<div class="item-box-desc">
										<h3>New York Loft</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">Projects</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Testimonials team ! -->
			<section id="team" class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div id="CEO" class="testimonial">
							<figure>
								<%= image_tag("CEO", class:"rounded", alt:"") %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Leading the way for all of us.</p>
								<cite>
									Marie-Ève Goupil
									<span>CEO.</span>
								</cite>
							</div>
						</div>
						<div id="employee" class="testimonial">
							<figure>
								<%= image_tag("employee-of-the-month", class:"rounded", alt:"") %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">The future looks bright.</p>
								<cite>
									Mathieu Bernier
									<span>Employee of the month.</span>
								</cite>
							</div>
						</div>
						<div id="employee" class="testimonial">
							<figure>
								<%= image_tag("employee-of-the-month-monique", class:"rounded", alt:"") %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">The future looks bright.</p>
								<cite>
									Monique Payment-Boulanger
									<span>Employee of the month.</span>
								</cite>
							</div>
						</div>
						<div id="employee" class="testimonial">
							<figure>
								<%= image_tag("employee-of-the-month-gabriel", class:"rounded", alt:"") %>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">The future looks bright.</p>
								<cite>
									Gabriel Demers
									<span>Employee of the month.</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News news et communiqué de presse -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>News Center</h2>
					</div>

					<!-- 
						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only
						
						data-plugin-options:
							"singleItem": true
							"autoPlay": true (or ms. eg: 4000)
							"navigation": true
							"pagination": true
							"items": "6"

						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://www.prnewswire.com/news-releases/tk-elevator-launches-max-link-digital-emergency-communications-in-north-america-301533071.html">
								<%= image_tag("TK_elevator", class:"img-fluid", alt:"") %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.prnewswire.com/news-releases/tk-elevator-launches-max-link-digital-emergency-communications-in-north-america-301533071.html">TK Elevators</a></h4>
							<p class="text-left">Specially coded communication apps in elevators will help passengers in case of emergency.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i>
									26th Apr 2022
								</li>
								<!-- comment section removed -->
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.wsj.com/articles/smart-office-buildings-can-help-sniff-out-viruses-but-are-vulnerable-to-hacks-11651579200">
								<%= image_tag("Smart", class:"img-fluid", alt:"") %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.wsj.com/articles/smart-office-buildings-can-help-sniff-out-viruses-but-are-vulnerable-to-hacks-11651579200">Smart Office Buildings</a></h4>
							<p class="text-left">An elevator program linked to a camera is bringing employees to their work floor.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									03th May 2022
								</li>
								<!-- comment section removed -->
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://thedailyvale.com/2022/05/24/elevators-and-escalators-market-size-scope-forecast/">
								<%= image_tag("Market", class:"img-fluid", alt:"") %>
							</a>

							<h4 class="text-left mt-20"><a href="https://thedailyvale.com/2022/05/24/elevators-and-escalators-market-size-scope-forecast/">Promising future</a></h4>
							<p class="text-left">Elevators and escalators markets are set to explode until 2029, a new study reports.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									24th May 2022
								</li>
								<!-- comment section removed -->
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.bizjournals.com/sacramento/news/2022/05/24/construction-projects-downtown-sacramento.html">
								<%= image_tag("building", class:"img-fluid", alt:"") %>
							</a>

							<h4 class="text-left mt-20"><a href="https://www.bizjournals.com/sacramento/news/2022/05/24/construction-projects-downtown-sacramento.html">Booming in construction</a></h4>
							<p class="text-left">Major residential projects are booming in California: is commercial is going to follow?</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									24th May 2022
								</li>
								<!-- comment section removed -->
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.ashevillenc.gov/news/city-of-asheville-says-farewell-to-one-of-the-last-manual-elevators-in-north-carolina/">
								<%= image_tag("OldManual", class:"img-fluid", alt:"") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.ashevillenc.gov/news/city-of-asheville-says-farewell-to-one-of-the-last-manual-elevators-in-north-carolina/">One Last Ride</a></h4>
							<p class="text-left">North Carolina oldest manual elevator will be making its last ride in a beautiful mountain city.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									24th May 2022
								</li>
								<!-- comment section removed -->
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.webuildvalue.com/en/infrastructure/the-jeddah-tower-saudi-arabia-aims-for-the-sky.html">
								<%= image_tag("highesttower", class:"img-fluid", alt:"") %>
							</a>
							<h4 class="text-left mt-20"><a href="https://www.webuildvalue.com/en/infrastructure/the-jeddah-tower-saudi-arabia-aims-for-the-sky.html">The Jeddah Tower</a></h4>
							<p class="text-left">The highest tower in the world, in Saudi Arabia, is going to need some elevator skills!</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									07th May 2021
								</li>
								<!-- comment section removed -->
							</ul>
						</div>

					</div>

				</div>
			</section>
			<!-- /News -->


			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("bbb", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("Apple", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("clover", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("spacex", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">

								<%= image_tag("Travel", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("Greener", class:"img-fluid", alt:"client") %>							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("hult", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("Justice", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("linked_in", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("Linux", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("Medecine", class:"img-fluid", alt:"client") %>
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<%= image_tag("Tree", class:"img-fluid", alt:"client") %>
							
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->

				<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">Elevate your future</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Contact us today</h3>

							
							<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->

							<%# <%= form_with(model: Lead, local: true) do |form| %>
								
							<%= form_for Lead.new do |form| %>

	
							<%# <form action="leads#create" method="post" enctype="multipart/form-data"> %>
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-4">
												<label for="contact:name">Full Name *</label>
												<input required type="text" value="" class="form-control" name="lead[full_name]" id="lead:full_name">
											</div>
											<div class="col-md-4">
												<label for="lead:email">E-mail *</label>
												<input required type="email" value="" class="form-control" name="lead[email]" id="lead:email">
											</div>
											<div class="col-md-4">
												<label for="lead:phone">Phone</label>
												<input type="text" value="" class="form-control" name="lead[phone]" id="lead:phone">
											</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="lead:company_name">Company Name *</label>  <!-- newly added item -->
											<input required type="text" value="" class="form-control" name="lead[company_name]" id="lead:company_name">
										</div>
										<div class="col-md-6">
											<label for="lead:project_name">Project Name *</label>  <!-- newly added item -->
											<input required type="text" value="" class="form-control" name="lead[project_name]" id="lead:project_name">
										</div>
									</div>						
									<div class="row">
											<div class="col-md-12">
												<label for="lead:project_description">Project description *</label> <!-- newly added item -->
												<textarea required maxlength="8000" rows="6" class="form-control" name="lead[project_description]" id="lead:project_description"></textarea>
											</div>		
									</div>		
									<div class="row">		
											<div class="col-md-12">
												<label for="lead:department">Department</label>
												<select class="form-control pointer" name="lead[department]">
													<option value="">--- Select ---</option>
													<option value="Commercial">Commercial</option>
													<option value="Corporate">Corporate</option>
													<option value="Hybrid">Hybrid</option>
													<option value="Residential">Residential</option>
													
											<!-- comment out section		<option value="Architecture">Architecture</option>  -->
												</select>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="lead:message">Message *</label>
												<textarea required maxlength="10000" rows="8" class="form-control" name="lead[message]" id="lead:message"></textarea>
											</div>
									</div>
									
									<div class="row">
											<div class="col-md-12">
												<label for="lead:file_description">File Description (ex. plans)</label>

												<!-- custom file upload -->
												<div class="fancy-file-upload fancy-file-danger">
													<i class="fa fa-upload"></i>
													<input type="file" class="form-control" name="lead[file_attachment]" onchange="jQuery(this).next('input').val(this.value);" />
													<input type="text" class="form-control" placeholder="no file selected" readonly="" />
													<span class="button">Select a File</span>
												
												
												
												
												
												<!--<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small> -->

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										
										<%= form.submit "Submit", :class => ["btn btn-danger", "fa fa-check"], :method => :post %>
										<%# <button type="submit" class="btn btn-danger"><i class="fa fa-check"></i> SEND MESSAGE</button> %>
									</div>
								</div>
							<% end %>
							<%# </form> %>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
							<div>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.407874999146!2d-71.2918385!3d46.8356601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897e960cb92d3%3A0x2c6e9be6262c3664!2s1165%20Bd%20Lebourgneuf%20%23300%2C%20Qu%C3%A9bec%2C%20QC%20G2K%202C9%2C%20Canada!5e0!3m2!1sen!2sjp!4v1653662072476!5m2!1sen!2sjp" width="350" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	
							</div>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 1165 Bd Lebourgneuf Suite 300, Québec, QC G2K 2C9</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234" class="danger">(418)555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">info@codeboxx.biz</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->

<%= render "partials/footer" %>