<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number_and_street %>
    <%= form.text_field :number_and_street %>
  </div>

  <div class="field">
    <%= form.label :building_administrator_full_name %>
    <%= form.text_field :building_administrator_full_name %>
  </div>

  <div class="field">
    <%= form.label :building_administrator_email %>
    <%= form.text_field :building_administrator_email %>
  </div>

  <div class="field">
    <%= form.label :building_administrator_phone %>
    <%= form.text_field :building_administrator_phone %>
  </div>

  <div class="field">
    <%= form.label :building_technical_contact_full_name %>
    <%= form.text_field :building_technical_contact_full_name %>
  </div>

  <div class="field">
    <%= form.label :building_technical_contact_email %>
    <%= form.text_field :building_technical_contact_email %>
  </div>

  <div class="field">
    <%= form.label :building_technical_contact_phone %>
    <%= form.text_field :building_technical_contact_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
