<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
  <div class="col-md-12 home-form">
    <%= form.label :customer %>
    <%= form_tag(building_search_path, method: "get", class: "form-inline", remote: true) do %>
    <%= select_tag "customer", options_from_collection_for_select(Customer.all, "id", "company_name"), prompt: "none", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= select_tag "building", options_from_collection_for_select(Building.all, "id", "id"), prompt: "none", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
<% end %>
  </div>
</div>

<div class="row" id="building_listing">
  <%= render partial: "building_list", locals: {buildings: @buildings} %>
</div>