<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author, class: "author" %>
    <%= form.text_field :author, class: "author" %>
  </div>

  <div class="row no-gutters wow slideInUp" data-wow-duration="1s">
    <div class="col-md-12 home-form">
      <%= form.label :customer_id, class: "customer" %>
      <%= select_tag "customer_id", options_from_collection_for_select(Customer.all, "id", "id"), prompt: "none", class: "customer" %>
      <%= form.label :building_id, class: "building" %>
      <%= select_tag "building_id", options_from_collection_for_select(Building.all, "id", "id"), prompt: "none", class: "building" %>
      <%= form.label :battery_id, class: "battery" %>
      <%= select_tag "battery_id", options_from_collection_for_select(Battery.all, "id", "id"), prompt: "none", class: "battery" %>
      <%= form.label :column_id, class: "column" %>
      <%= select_tag "column_id", options_from_collection_for_select(Column.all, "id", "id"), prompt: "none", class: "column" %>
      <%= form.label :elevator_id, class: "elevator"  %>
      <%= select_tag "elevator_id", options_from_collection_for_select(Elevator.all, "id", "id"), prompt: "none", class: "elevator" %>
      <%= form.label :employee_id, class: "employee" %>
      <%= select_tag "employee_id", options_from_collection_for_select(Employee.all, "id", "id"), prompt: "none", class: "employee" %>
      
      <div class="field">
      <%= form.label :project_description %>
      <%= form.text_area :project_description %>
      </div>
      
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
 
<% end %>

    
